// Authentication and Authorization
// Trello uses a delegated authentication and authorization flow so that your application never has to deal with storing or 
// handling usernames or passwords. Instead, your application passes control to Trello (identifying itself via the API key) and once Trello 
// has allowed the user to choose an account and sign in, Trello will hand the user and control back to your application, along with an API Token.

// To get started, you’ll need an API key. You can get your API key by logging into Trello and visiting https://trello.com/app-key. 
// Be sure to read and agree to Trello Developer Terms of Service. Your API key will be clearly labeled at the top of that page.

// Your API key should be a 32 character string comprised of random alphanumeric characters. Because of the way the authorization flow works, 
// the API key is intended to be publicly accessible. An API key by itself doesn't grant access to a user's Trello data. However, because 
// API tokens grant access to the user's data, they should be kept secret.

// For the purposes of this walkthrough, we'll have you generate a token for yourself. On the same page where you found your API 
// key (https://trello.com/app-key), click the hyperlinked "Token" under the API key.

// Change the values bellow and rename the file to config.json

{
    "key": "YOUR_KEY",
    "token": "YOUR_TOKEN"
}
